---
import SubpageLayout from "../layouts/SubpageLayout.astro";
import Footer from "../components/Footer.astro";
import cover from "../assets/biblische_geschichten_cover.jpg";
---

<SubpageLayout
  title="Das Nachleben der Worte | Virtuelle Hebel-Ausstellung"
  description="Virtuelle Ausstellung zum schriftstellerischen Wirken Johann Peter Hebels anlässlich seines 200. Todestages, online ab dem 1. September 2026."
  pathname="/ausstellung"
  image={cover}
  currentPage="ausstellung"
>
  <main class="flex min-h-screen flex-col">
    <header class="shrink-0 px-8 py-4 font-serif">
      <div class="my-3 md:my-6 flex-col mx-auto flex-col items-center gap-8 lg:gap-12 xl:gap-16 md:mb-6 md:flex-row">
					<h1 class="text-center text-2xl md:text-2xl lg:text-3xl xl:text-5xl 2xl:text-6xl font-semibold mt-16 sm:mt-0">
						Johann Peter Hebel
					</h1>
          <h2 class="mt-2 text-center text-base lg:mt-4 lg:text-xl xl:text-3xl">
            Das Nachleben der Worte
          </h2>
      </div>
    </header>

    <section class="relative flex-1 overflow-hidden">
      <img
        src={cover.src}
        alt="Biblische Geschichten, Coverdetail mit lesendem Engel"
        class="absolute inset-0 h-full w-full object-cover object-center"
      />

			<div class="absolute inset-0 z-10 flex min-h-full w-full flex-col justify-between gap-8 px-6 pb-8 pt-12 md:px-10 md:pb-12 md:pt-8 lg:px-8 xl:px-10">
				<article class="mr-auto ml-2 w-full bg-slate-900 px-4 py-4 font-serif text-paper shadow-xl max-w-fit md:px-6 md:py-5 lg:ml-4 xl:ml-4 2xl:ml-6">
					<p class="text-lg md:text-2xl leading-relaxed">
					Eine virtuelle Ausstellung zu<br>
					Hebels schriftstellerischem<br>
					Wirken anlässlich seines<br>
					200.&nbsp;Todestages<br>
					am 22.&nbsp;September 2026
					</p>
				</article>

				<aside class="self-end">
					<div class="relative h-48 w-48 rounded-full md:h-56 md:w-56 overflow-hidden border border-black">
						<div class="absolute inset-0 flex flex-col items-center justify-center rounded-full bg-paper text-center font-serif font-bold text-accent">
							<p class="text-2xl italic md:text-4xl">online</p>
							<p class="mt-2 text-lg md:text-xl font-bold">ab</p>
							<p class="mt-2 text-xl md:text-2xl">1. September</p>
							<p class="mt-2 text-xl md:text-2xl">2026</p>
						</div>
					</div>
				</aside>
			</div>
    </section>

    <Footer />
  </main>
</SubpageLayout>
