---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`font-serif ${className}`.trim()}>
	<a href="/">
		<div class="text-logo text-right">
			<span>JPH</span><span class="text-accent">A</span>
		</div>
		<div class="text-logo-sub -mt-2 text-right text-[#1f365c]">Heidelberg</div>
	</a>
</div>
