---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Johann Peter Hebel-Archiv" } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-[#e7e4c8] text-[#1f365c]">
    <slot />
  </body>
</html>
